@model IEnumerable<Stock.Models.Payment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card mb-2">
        <div class="card-header p-2 text-center"><a class="btn btn-primary btn-sm float-left" asp-action="Create">Create New</a>All Payments</div>
        <div class="card-body overflow-auto">
            <table class="table table-bordered table-hover" id="table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Credit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Debit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Suplier)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Suplier.Name)
                            </td>
                            <td>
                                @*<a class="btn btn-primary btn-sm p-0 pl-1 pr-1" asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a>*@ 
                                <a class="btn btn-danger btn-sm p-0 pl-1 pr-1"  asp-action="Delete" asp-route-id="@item.PaymentId" onclick="return confirm('Are you sure you want to delete the selected record?')">Delete</a>
                                <a class="btn btn-secondary btn-sm p-0 pl-1 pr-1" href="#" data-toggle="modal" data-target="#PatientProfileModal" onclick="GetPaymentId();" ><i class="fas fa-print"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="PatientProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Print Voucher</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="row pt-0">
                        <div class="col col-12 bg-light">
                            <button class="btn float-right" onclick="print('#print');"><i class="fas fa-print"></i></button>
                        </div>
                        <div class="col col-12" style="height:600px;" id="print">
                            <h2 class="text-center font-weight-light pt-4">Stock Management System</h2>
                            <table width="100%" class="table mt-5 mb-5" id="voucher">
                                <thead>
                                    <tr>
                                        <th>Voucher#</th>
                                        <th>Description</th>
                                        <th>Customer</th>
                                        <th>Suplier</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="col col-12" style="margin-top:300px;">
                                <div class="row ">
                                    <div class="col col-6 ">
                                        <div class="border-bottom border-dark mr-5">Approved by:</div>
                                    </div>
                                    <div class="col col-6">
                                        <div class="border-bottom border-dark mr-5">Received by:</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 border-top border-dark" style="margin-top:920px;">
                                <div class="row ">
                                    <div class="col col-6 ">
                                        Address: Chawk golha, Herat, Afghanistan
                                    </div>
                                    <div class="col col-6">
                                        Phone#: (0093) 799 99 99 99
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <script>

            $(document).ready(function () {
                var table = $('#table').DataTable({
                    dom: 'Bfrtip',
                    lengthChange: false,
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'colvis', 'print']
                });

                table.buttons().container()
                    .appendTo('#example_wrapper .col-md-6:eq(0)');
            });

            function print(content) {
                $(content).printThis({
                    debug: false,               // show the iframe for debugging
                    importCSS: true,            // import parent page css
                    importStyle: false,         // import style tags
                    printContainer: true,       // print outer container/$.selector
                    loadCSS: "",                // path to additional css file - use an array [] for multiple
                    pageTitle: "",              // add title to print page
                    removeInline: false,        // remove inline styles from print elements
                    removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                    printDelay: 333,            // variable print delay
                    header: null,               // prefix to html
                    footer: null,               // postfix to html
                    base: false,                // preserve the BASE tag or accept a string for the URL
                    formValues: true,           // preserve input/form values
                    canvas: false,              // copy canvas content
                    doctypeString: '...',       // enter a different doctype for older markup
                    removeScripts: false,       // remove script tags from print content
                    copyTagClasses: false,      // copy classes from the html & body tag
                    beforePrintEvent: null,     // function for printEvent in iframe
                    beforePrint: null,          // function called before iframe is filled
                    afterPrint: null            // function called before iframe is removed
                });
            }

    

    function GetPaymentId() {

        var table = document.getElementsByTagName("table")[0], Index;
        var table1 = document.getElementsByTagName("table")[1];

        for (var i = table1.rows.length - 1; i > 0; i--) {
            table1.deleteRow(i);
        }

        for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].cells[6].onclick = function () {
                Index = this.parentElement.rowIndex;
                var newRow = table1.insertRow(table1.rows.length);
                var cell1 = newRow.insertCell(0);
                var cell2 = newRow.insertCell(1);
                var cell3 = newRow.insertCell(2);
                var cell4 = newRow.insertCell(3);
                var cell5 = newRow.insertCell(4);
                var cell6 = newRow.insertCell(5);

                cell1.innerHTML = table.rows[Index].cells[0].innerHTML;
                cell2.innerHTML = table.rows[Index].cells[3].innerHTML;
                cell3.innerHTML = table.rows[Index].cells[4].innerHTML;
                cell4.innerHTML = table.rows[Index].cells[5].innerHTML;
                cell5.innerHTML = table.rows[Index].cells[2].innerHTML;
                cell6.innerHTML = table.rows[Index].cells[1].innerHTML;

            };
        }

    }


        </script>