@model IEnumerable<Stock.Models.Productbrand>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered" id="table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Catagory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attribute.AttributeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Brandid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catagory.CatagoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductbrandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductbrandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductbrandId"  onclick="return confirm('Are you sure you want to delete the selected record?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>

<script>
    $(document).ready(function () {
                var table = $('#table').DataTable({
                    dom: 'Bfrtip',
                    lengthChange: false,
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'colvis', 'print']
                });

                table.buttons().container()
                    .appendTo('#example_wrapper .col-md-6:eq(0)');
            });
</script>